*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
   position: relative;
  
    

}

.fundo{
   position: absolute;
  
    
}

.fundo img {
    width: 100%;
}

.personagem {
    
 position: absolute;
 left: 150px;
 top: 1px;
 z-index: 1;
 
}

.personagem img {
   width: 80%;
   
   
}

.nome-star{
    position: absolute;
    left: 190px;
    bottom: 400px; 
    z-index: -1;   
}

.nome-star img{
    width: 70%;
   
}





@media screen and (max-width: 1024px) {
    .personagem  {
        left: 100px;
        
     }
     .nome-star{
        
        left: 150px;
        bottom: 280px;    
    }
    .nome-star img{
        width: 50%;
       
    }
    
}


@media screen and (max-width: 768px) {
    .personagem  {
        left: 80px;
        
     }
     .nome-star{
        
        left: 100px;
        bottom: 200px;    
    }
    .nome-star img{
        width: 40%;
       
    }
}

@media screen and (max-width: 425px) {
    .personagem  {
        left: 50px;
        
     }
     .nome-star{
        
        left: 50px;
        bottom: 110px;    
    }
    .nome-star img{
        width: 30%;
       
    }
}

@media screen and (max-width: 375px) {
    .personagem  {
        left: 40px;
        
     }
     .nome-star{
        
        left: 50px;
        bottom: 100px;    
    }
    .nome-star img{
        width: 30%;
       
    }
}